@charset "UTF-8";
$theme-colors: (
  "primary": #080f5b,
  "secondary": #0d19a3,
  "light": #f2f2f2,
  "danger": #e4c580,
);

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.red-text {
  color: #f44336;
}

.nav-link {
  text-transform: uppercase;
}

.btn {
  text-transform: uppercase;
}

.lead {
  font-size: 0.25rem;
  font-weight: 100;
}

@import "../node_modules/bootstrap/scss/bootstrap";
